.Anime {
  background: #282828;
  color: white;
  margin: 0;
  padding: 25px 10%;

  @media only screen and (max-width: 600px) {
      .top-section{
        flex-direction: column;
      }
      .title{

        width: auto !important;
      }
  }

  .title {
    margin: 0;
    width: max-content;
    margin-bottom: 20px;
    border-bottom: 2px solid #04bf00;
  }
  
  .top-section{
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
      border-radius: 20px;
      border: 2px solid #04bf00
    }
  }

  .summary{
    h4{
      font-size: 20px;
    }
  }

  // More Info Section
  .more-info {
    padding-bottom: 20px;
    a {
      text-emphasis: none;
      text-decoration: none;
      button {
        margin-top: 5px;
        padding: 7px 15px;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        border-radius: 50px;
        outline: none;
        background: #04bf00;
        border: none;
        
      }
      button:hover{
        background-color: #151515;
        color: #04bf00;
      }
    }
  }
}
