.Footer{
    background:  #151515;
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h4{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    button{
        background: #04BF00;
        border-radius: 123px;
        margin: 0;
        a{
            text-emphasis: none;
            text-decoration: none;
            color: white;
        }
    }
}